.seccion-gris{
    background-color: lightgray;
    padding-top: 5em;
    display: flex;
}

.seccion-blanca{
    background-color: white;
}

.seccion-negra{
    background-color: black;
}

.seccion-celeste{
    background-color: lightskyblue;
}
